$default-font: 'Roboto', sans-serif;

$primary-color: #FF0101;
$secondary-color: #E60000;
$third-color: #020203;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    font-family: $default-font;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}