#dashboard {
    height: calc(100% - 68px);
    display: flex;
}

#page_content {
    padding: 30px 30px 20px 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .welcome {
        margin-bottom: 20px;
        width: 100%;
        &--title{
            font-size: 50px;
            font-weight: 500;
            margin-bottom: 10px;

            &-name {
                color: $primary-color;
            }
        }     
    }

    .charts__container {
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        justify-content: space-between;
    }

    .nutritional {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        height: 500px;
    }
}